<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<context:component-scan base-package="net.vicp.dgiant.service"/>
	
	<bean id="connectionSource" class="com.j256.ormlite.jdbc.JdbcConnectionSource"
		init-method="initialize">
		<property name="url" value="jdbc:mysql://10.80.200.84:3306/test" />
		<property name="username" value="anaconda" />
		<property name="password" value="anaconda" />
	</bean>
	
	<!-- our daos -->
	<bean id="userDao" class="com.j256.ormlite.spring.DaoFactory"
		factory-method="createDao">
		<constructor-arg index="0" ref="connectionSource" />
		<constructor-arg index="1" value="net.vicp.dgiant.entry.common.User" />
	</bean>
	
	<bean id="roleDao" class="com.j256.ormlite.spring.DaoFactory"
		factory-method="createDao">
		<constructor-arg index="0" ref="connectionSource" />
		<constructor-arg index="1" value="net.vicp.dgiant.entry.common.Role" />
	</bean>
	
	<bean id="userRoleDao" class="com.j256.ormlite.spring.DaoFactory"
		factory-method="createDao">
		<constructor-arg index="0" ref="connectionSource" />
		<constructor-arg index="1" value="net.vicp.dgiant.entry.common.UserRole" />
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxInMemorySize" value="10240" />
		<property name="maxUploadSize" value="50000000" />
	</bean>

</beans>
